<form method="post" action="{{ path('app_visite_veterinaire_delete', {'visite_id': visite_veterinaire.visite_id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ visite_veterinaire.visite_id) }}">
    <button class="btn">Delete</button>
</form>
